# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Exclude override files (local overrides)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform plan output
*.tfplan

# CLI configuration files
.terraformrc
terraform.rc

# Ignore any sensitive files
*.pem
*.key
*.crt
*.cer
